<div style="margin-top: 12%; text-align: center">
  <h1>{{ title1 }}</h1>
  <h2 id="welcome_text">{{ title2 }}</h2>
</div>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <!-- Form -->
      <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)">
        <!-- Input fields -->

        <div class="form-group">
          <label for="">First Name</label>
          <input
            [(ngModel)]="signupModel.firstname"
            required
            minlength="5"
            maxlength="20"
            #firstname="ngModel"
            [class.is-invalid]="firstname.invalid && firstname.touched"
            type="text"
            class="form-control firstname"
            [(ngModel)]="signupModel.firstname"
            id="firstname"
            name="firstname"
            placeholder="Enter First Name..."
          />
          <small
            class="text-danger"
            [class.d-none]="firstname.valid || firstname.untouched"
          >
            Name is required and must be at least 5 characters</small
          >
        </div>

        <div class="form-group">
          <label for="">Last Name</label>
          <input
            [(ngModel)]="signupModel.lastname"
            required
            minlength="5"
            maxlength="20"
            #lastname="ngModel"
            [class.is-invalid]="lastname.invalid && lastname.touched"
            type="text"
            class="form-control lastname"
            id="lastname"
            placeholder="Enter Last Name..."
            name="lastname"
          />
          <small
            class="text-danger"
            [class.d-none]="lastname.valid || lastname.untouched"
          >
            Name is required and must be at least 5 characters</small
          >
        </div>

        <div class="form-group">
          <label for="">Username</label>
          <input
            [(ngModel)]="signupModel.username"
            required
            minlength="5"
            maxlength="20"
            #username="ngModel"
            [class.is-invalid]="username.invalid && username.touched"
            type="text"
            class="form-control username"
            id="username"
            placeholder="Enter Username..."
            name="username"
          />
          <small
            class="text-danger"
            [class.d-none]="username.valid || username.untouched"
          >
            Name is required and must be at least 5 characters</small
          >
          <small>
            <div [style.color]="'red'" id="username_warning">
              {{ response | json }}
            </div>
          </small>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input
            [(ngModel)]="signupModel.email"
            #email="ngModel"
            required
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            [class.is-invalid]="email.invalid && email.touched"
            type="text"
            class="form-control email"
            id="email"
            placeholder="Enter email..."
            name="email"
          />
          <small
            class="text-danger"
            [class.d-none]="email.valid || email.untouched"
          >
            Email is required and must be in proper format</small
          >
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input
            [(ngModel)]="signupModel.phone"
            #phone="ngModel"
            required
            pattern="^\d{10}$"
            [class.is-invalid]="phone.invalid && phone.touched"
            type="tel"
            class="form-control phone"
            id="phone"
            placeholder="Enter number..."
            name="phone"
          />
          <small
            class="text-danger"
            [class.d-none]="phone.valid || phone.untouched"
          >
            Phone number is required and must be 10 digits</small
          >
        </div>

        <br />

        <label>Gender</label>

        <div class="form-group">
          <!--<select ngModel-->
          <!--<select [ngModel]="orderModel.drink"-->

          <select
            [(ngModel)]="signupModel.gender_option"
            #gender_option="ngModel"
            required
            [class.is-invalid]="gender_option.invalid && gender_option.touched"
            class="custom-select gender_option"
            name="gender_option"
          >
            <option value="">Choose your gender</option>
            <option *ngFor="let sex of gender">{{ sex }}</option>
          </select>
          <small
            class="text-danger"
            [class.d-none]="gender_option.valid || gender_option.untouched"
          >
            Please choose your gender</small
          >
        </div>

        <br />

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            [(ngModel)]="signupModel.password"
            required
            #password="ngModel"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            [class.is-invalid]="password.invalid && password.touched"
            type="password"
            id="password"
            name="password"
            class="form-control password"
            placeholder="Enter password"
          />
          <small
            class="text-danger"
            [class.d-none]="password.valid || password.untouched"
          >
            Password must contain at least one number and one uppercase and
            lowercase letter, and at least 8 or more characters.</small
          >
        </div>

        <div class="form-group">
          <label for="username">Confirm password:</label>
          <input
            type="password"
            [(ngModel)]="signupModel.conPassword"
            class="form-control conPassword"
            id="con-password"
            placeholder="Enter password..."
            name="conPassword"
            required
            #conPassword="ngModel"
            pattern="{{ signupModel.password }}"
          />

          <div [class.d-none]="conPassword.valid || conPassword.untouched">
            <small
              [style.color]="'red'"
              *ngIf="conPassword.value == '' && conPassword.touched"
            >
              Confirm password is required.</small
            >

            <div
              [style.color]="'red'"
              *ngIf="password.value != conPassword.value"
            >
              Password & Confirm Password does not match.
            </div>
          </div>
        </div>

        <br /><br />

        <button
          id="button"
          [disabled]="!signupForm.form.valid"
          type="submit"
          class="btn btn-primary btn-customized"
        >
          Sign up
        </button>
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
